:root {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  font-size: 20px;
  scroll-behavior: smooth;
}

a, a:visited {
  color: #444444;
}

/*.container{
    margin: 0 auto;
    @media (min-width: 1025px) {
        width: 100%;
        padding: 0 1rem;
    }
}*/
.cta-button {
  display: inline-block;
  background-color: #39990f;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #eeeeee;
  font-weight: 600;
}

.container {
  width: 100%;
  padding: 0 2rem;
}
@media (min-width: 1025px) {
  .container {
    max-width: 1024px;
    margin: 0 auto;
  }
}

header {
  height: 100vh;
  background-image: url("./assets/header-background-mobile.jpg");
  background-color: #444444;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
header .topbar {
  width: 100%;
  position: absolute;
}
header .topbar .container {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) {
  header .topbar .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}
header .topbar .topbar_logo {
  height: 100%;
  color: #a30e0e;
  font-weight: 700;
}
header .topbar .hamburger-menu {
  width: 100%;
  position: absolute;
  right: 2rem;
  top: 0.5rem;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 500px) {
  header .topbar .hamburger-menu {
    display: none;
  }
}
header .topbar .hamburger-menu input {
  appearance: none;
}
header .topbar .hamburger-menu input,
header .topbar .hamburger-menu::before,
header .topbar .hamburger-menu::after {
  content: "";
  width: 30px;
  height: 5px;
  background-color: #444444;
  align-self: flex-end;
}
header .topbar .topbar_nav {
  display: none;
  /*position: absolute;
  top: 2.5rem;*/
  text-align: center;
  background-color: #eeeeee;
}
header .topbar .topbar_nav li {
  padding: 0.5rem;
}
@media (min-width: 500px) {
  header .topbar .topbar_nav {
    display: inline-block;
  }
  header .topbar .topbar_nav ul {
    display: flex;
  }
}
header .topbar div:has(input:checked) ~ .topbar_nav {
  display: block;
}
header .hero-section {
  color: #eeeeee;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .hero-section h1 {
  font-weight: 700;
}
header .hero-section h2 {
  text-align: center;
  font-weight: 600;
}

.topbar, .section {
  background-color: #eeeeee;
}

.section > .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section .section_title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.section .section_title::before, .section .section_title::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #a30e0e;
  margin: 8px;
}
@media (min-width: 1024px) {
  .section .section_content {
    display: flex;
  }
}
.section .section_content article {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 1rem 3rem;
}
.section .section_content article p {
  max-width: 500px;
}
.section .section_content article img {
  max-width: 200px;
  border-radius: 50%;
}

.footer {
  width: 100%;
  padding: 1rem;
  background-color: #222222;
  color: #eeeeee;
  font-size: 0.75rem;
}
.footer .container {
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}/*# sourceMappingURL=style.css.map */