:root {
  font-family: "Open Sans", sans-serif;
  color: #444444;
  font-size: 20px;
  scroll-behavior: smooth;
}

a, a:visited {
  color: #444444;
}

.container {
  padding: 0 1rem;
}

.cta-button {
  display: inline-block;
  background-color: #39990f;
  padding: 1rem;
  border-radius: 0.5rem;
  color: #eeeeee;
  font-weight: 600;
}

header {
  height: 100vh;
  background-image: url("./assets/header-background-mobile.jpg");
  background-color: #444444;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
}
header .topbar {
  padding: 1rem;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
@media (min-width: 500px) {
  header .topbar {
    justify-content: space-between;
  }
}
header .topbar .topbar_logo {
  color: #a30e0e;
  font-weight: 700;
  width: 66%;
}
@media (min-width: 500px) {
  header .topbar .topbar_logo {
    width: max-content;
  }
}
header .topbar .hamburger-menu {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  gap: 5px;
}
@media (min-width: 500px) {
  header .topbar .hamburger-menu {
    display: none;
  }
}
header .topbar .hamburger-menu input {
  appearance: none;
}
header .topbar .hamburger-menu input,
header .topbar .hamburger-menu::before,
header .topbar .hamburger-menu::after {
  content: "";
  width: 30px;
  height: 5px;
  background-color: #444444;
  align-self: flex-end;
}
header .topbar .topbar_nav {
  display: none;
}
@media (min-width: 500px) {
  header .topbar .topbar_nav {
    display: block;
  }
  header .topbar .topbar_nav ul {
    display: flex;
  }
}
header .topbar .hamburger-menu:has(input:checked) ~ .topbar_nav {
  display: flex;
  margin: 1rem auto 0 auto;
}
header .topbar .hamburger-menu:has(input:checked) ~ .topbar_nav li {
  margin: 0.5rem;
}
header .hero-section {
  color: #eeeeee;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
header .hero-section h1 {
  font-weight: 700;
}
header .hero-section h2 {
  text-align: center;
  font-weight: 600;
}

.topbar, .section {
  background-color: #eeeeee;
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section .section_title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.section .section_title::before, .section .section_title::after {
  content: "";
  display: inline-block;
  width: 30px;
  height: 5px;
  background-color: #a30e0e;
  margin: 8px;
}
.section .section_content {
  margin-bottom: 1rem;
  padding: 0 1rem;
}
@media (min-width: 426px) {
  .section .section_content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .section .section_content article {
    max-width: 50%;
  }
}
@media (min-width: 426px) and (min-width: 768px) {
  .section .section_content article {
    width: 33%;
  }
}
.section .section_content img {
  width: 100%;
  border-radius: 50%;
  margin: 1rem 0;
}

.footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #222222;
  color: #eeeeee;
  font-size: 0.75rem;
}/*# sourceMappingURL=style.css.map */